@charset "utf-8";
/* CSS Document */
body{
 background-color:#f6f5f5;
 margin:0px;
 padding:0px;
}
a{
 text-decoration-style:wavy;
}
section{
 width:100%;
 height:95vh;
 background-image:url("../images/bg.png");
 background-size:cover;
 background-repeat:no-repeat;
 position: relative;
}
.model{
 height:530px;
 position:absolute;
 bottom:40px;
 left:75%;
 transform: translateX(-75%);
}
.text-container p:nth-child(1){
 font-family: Impact;
 color:rgb(37, 38, 41);
 font-size:52px;
 letter-spacing:1px;
}
.text-container p:nth-child(2){
 font-family:Impact;
 font-weight:normal;
 color:darkgrey;
 font-size:30px;
 
}
 
.text-container p{
 margin:45px 0px 25px;
 line-height:0px;
}
.text-container button{
 width:130px;
 height:32px;
 border-radius:15px;
 font-family:calibri;
 font-weight:bold;
 font-size: 20px;
 outline:none;
 margin:0px 10px;
 
}
.text-container{
 position: absolute;
 left:13%;
 top:42%;
 transform:translate(-13%,-42%);
}
.down-cv{
 background-color:#0B0B0B;
 color:#fff; 
 border:none;
}
button:active{
 transform:scale(1.1);
}
.about-container{
 width:80%;
 height:330px;
 background:#ffffff;
 border-radius:20px;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
 display: flex;
 margin: -7%  auto 20px auto;
 position: relative;
 justify-content:space-evenly;
 align-items: center;
}

.about-text{
 width:500px;
} 
.about-text p:nth-child(1){
 color:#403e3e;
 font-family: myriad pro;
 font-weight:bold;
 font-size:23px;
 line-height:0px;
}
.about-text p:nth-child(2){
 color:#3e3d3d;
 font-size:13px;
 font-family: myriad pro;
 font-weight:bold;
 line-height:5px;
}
.about-text p:nth-child(3){
 color:#7e7d7d;
 font-family:calibri;
 font-size:16px;
}

footer{
 height:300px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
}
.social-icons a{
 width:40px;
 height:40px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color:#e6e3e3;
 margin:20px 10px;
 border-radius:50%;
}
.social-icons{
 display: flex;
 
}
.social-icons i,.social i{
 color:#000000;
}
.social-icons a:hover{
 background-color:#000000;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
 transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
 color:#FFFFFF;
 transition:all ease 0.5s;
}

.social{
 position: fixed;
 top:50%;
 right:0px;
 transform:translateY(-50%);
}
.social a{
 display: flex;
 justify-content: center;
 align-items: center;
 width:50px;
 height:50px;
 margin:0px;
 padding: 0px;
 line-height:0px;
 background-color:#FFFFFF;
 border:1px solid #CBCBCB;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
 background-color:#000000;
 transition:all ease 0.5s;
}
.social i{
 font-size:20px;
 color:#2B2B2B;
}